# 忽略 data 文件夹及其所有内容
data/

# 忽略 Python 缓存文件夹 (截图显示为 __pycache__)
__pycache__/

# 忽略 Python 编译文件 (通常与 __pycache__ 配合使用)
*.pyc

# 忽略 environment 配置文件 (对应截图中的 environment.yml)
environment.yml

# model、result、log先不上传
model/
model_new_nnmodel/
model_3erl_tau/
# best_models/
model_old/

result/
result_new_nnmodel/
result-2pll/
result-3erl/
result-4ifdl/
result-3erl-tau=1.2/
result-till-1226
result_WCE/
result_MSE_old

test/

nohup.out
fcd_output.log

wrong-0107-todo/